<!DOCTYPE html>
<html>
<head>
<title>Sudoku</title>
<meta charset="UTF-8">
<link href="<%= url("css/style.css")%>" rel="stylesheet" type="text/css">
</head>
<body>
        <div style="height:60%; width:50%; margin:25%; margin-top:3%;">
            <form class="" action="/generar" method="post">
                <table style="border:2px solid;">
                  <% for x in 0..8 %>
                        <tr>
                            <% for y in 0..8 %>
                                <td class="sudoku">
                                <% if @sudokutable[x][y].to_i != 0 %>
                                    <input type="number" name="cell[]" class="sudokuHint" style="max-width:inherit" value=<%= @sudokutable[x][y] %> readonly/>
                                <% else %>
                                    <input type="number" name="cell[]" class="sudokuInput" style="max-width:inherit" value="">
                                <% end %>
                                </td>
                            <% end %>
                        </tr>
                    <%end%>
                </table>
                <br>
                <input type="submit" class="menu" value="Check">
                <input type="button" class="menu" value="Finish">
            </form>
		</div>

</body>
</html>
