<!DOCTYPE html>
<html>
<head>
<title>Sudoku</title>
<meta charset="UTF-8">
<link href="<%= url("css/style.css")%>" rel="stylesheet" type="text/css">
</head>
<body>
        <div style="height:60%; width:50%; margin:25%; margin-top:5px;">
            <h2 style="text-align:center">00:00:00</h2>
            <form class="" action="/generar" method="post">
                <table>
                    <% x = 0 %>
                    <% @sudokutable.each do |sudokurow| %>
                        <tr>
                            <% sudokurow.each do |sudokuitem| %>                              
                                <td class="sudoku">                                
                                <% if sudokuitem != 0? %>
                                    <input type="number" class="sudokuHint" style="max-width:inherit" value=<%= sudokuitem %> readonly/>
                                <% else %>
                                    <input type="number" class="sudokuInput" style="max-width:inherit"/>
                                <% end %>
                                </td>
                            <% end %>
                        </tr>
                    <% end %>
                </table>
                <br>
               	<button class="menu">Start</button>
                <input class="menu"  type="submit" action="/generar" value="Check"></input>
                <button class="menu" onClick="modal()">Finish</button>
            </form>

		</div>

        <div id="myModal" class="modal">
            <div class="modal-content" style="width:50%; margin-left:25%; margin-right:25%">
                <div class="modal-header">
                <span class="close" onClick="modalClose()">×</span>
                <h2>New record!</h2>
                </div>

                <div class="modal-body">
                	<h1 style="text-align:center">1st Place</h1>
                    <form action="index.html">
                    	<input type="text" placeholder="Nickname" class="normalInput"/><br>
                        <input type="submit" class="menu"/>
                    </form>
                </div>
            </div>
        </div>
</body>
<script>
function modal(){
	var modal = document.getElementById('myModal');
	modal.style.display = "block";
}

function modalClose(){
	var modal = document.getElementById('myModal');
	modal.style.display = "none";
}
</script>
</html>
