<!DOCTYPE html>
<html>
<head>
<title>Sudoku</title>
<meta charset="UTF-8">
<link href="<%= url("css/style.css")%>" rel="stylesheet" type="text/css">
</head>

<body>
	<h1 style="text-align:center; margin-top:15%">SUDOKU</h1>
    <div style="margin:25%; margin-top:5%">
        <button id="play" class="mainmenu" onClick="accordion()">Play</button>
        <div class="panel">
            <form action="/gettable" method="post">
                <input class="menu" name="opcion" type="submit" value="Easy"></input>
                <input class="menu" name="opcion" type="submit" value="Normal"></input>
                <input class="menu"  name="opcion" type="submit" value="Hard"></input>
            </form>
        </div>
        <button class="mainmenu" onClick="modal()">Leaderboard</button>
	</div>
</body>
<script>
function accordion(){
	var acc = document.getElementById("play");
	acc.classList.toggle("active");
	acc.nextElementSibling.classList.toggle("show");
}

function modal(){
	var modal = document.getElementById('myModal');
	modal.style.display = "block";
}

function modalClose(){
	var modal = document.getElementById('myModal');
	modal.style.display = "none";
}
</script>
</html>
